.menuContainer--mainMenu .menuItem .styledLink{
    margin:0;
    padding:1em;
    display:block;
}
.menuContainer--mainMenu .menuItem .styledLinkContainer{
    margin:0;
    padding:0;
}
.menuContainer--mainMenu .styledLink--menu-oferta{
    color:#fff;
    background:#0f3e99;
}
.menuContainer--mainMenu .menuItem:hover{
    background:#03044e;
}
.menuContainer--mainMenu .menuItem:hover .styledLink{
    color:#fff;
}
.menuContainer--mainMenu .submenu .menuItem:hover .styledLink,
.menuContainer--mainMenu .submenu .menuItem:hover,
.menuContainer--mainMenu .menuItem:hover .submenu .styledLink,
.menuContainer--mainMenu .menuItem:hover .submenu .menuItem{
    background:transparent;
    color:#3f3f40;
}
.menuContainer--mainMenu .submenu .menuItem .styledLink,
.menuContainer--mainMenu .submenu .menuItem .styledLinkContainer{
    margin:0;
}
.menuContainer--mainMenu .submenu .menuItem .styledLink{
    padding:.5em;
}
.submenuContainer{
    position:static;
}
.menuContainerNav{
    position: relative;
}
.menuContainer--mainMenu .menuItem .styledLinkContainer .styledLink .styledLinkContent{
    text-align:left;
    text-transform:uppercase;
    font-size:0.7em;
    font-weight:bold;
}
.menuContainer--mainMenu .submenu .menuItem .styledLinkContainer .styledLink .styledLinkContent{
    text-transform:none;
    font-size:0.8em;
    font-weight:normal;
}
.submenu .styledLinkContainer,
.submenu .menuContainerNav,
.menuContainer--mainMenu .submenu .menuItem .styledLinkContainer,
.menuContainerNav--category-menu-mobile,
.menuContainerNav--category-menu-mobile .menuContainerNav{
    width:100%;
}
.menuContainer--menuFooter .styledLinkContainer{
    margin:0;
}
.menuContainerNav--category-menu-mobile .menuItem{
    padding:5px 0;
    border-bottom:1px solid #ccc;
}
 .menuContainer--mainMenu .submenuContainer .submenuWrapper{
    padding:0;
    border:0;
    margin:0;
    width:100%;
}
.submenu .menuContainerNav{
    border-right: 1px solid #f0f0f0;
    padding:.25rem 0;
}

/*.submenu .menuContainerNav .menuItem{
    padding: .5rem 0;
}
 .menuContainer--mainMenu .menuItem .styledLinkContainer{
    width:90px;
}
.menuContainer--mainMenu .menuItem:last-child .styledLinkContainer:global(.mh6):global(.pv5){
    min-height: 64px;
} */
/* .menuContainer--mainMenu .menuItem .styledLinkContainer .styledLink .styledLinkContent{
    white-space:initial;
    text-align:center;
} */
/* .submenu {
    justify-content: left;
    width: 100%;
} */
/* .menuContainer--mainMenu .menuItem--todos-dept{
    min-width: 160px;
}
.menuContainer--mainMenu .menuItem--todos-dept::before{
    content: "";
    display: inline-block;
    float: left;
    width: 30px;
    height: 30px;
    margin: 18px 5px 0 0;
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAMAAAAM7l6QAAAAOVBMVEUAAAA/QZ8/QZ8/QZ8/QZ8/QZ8/QZ8/QZ8/QZ8/QZ8/QZ8/QZ8/QZ8/QZ8/QZ8/QZ8/QZ8/QZ8/QZ/R6jJgAAAAEnRSTlMAwDC1UxLxrIxAIejY1cdhQwEP5BuhAAAAlklEQVQoz4WTWQ7DIAxETcFs2X3/w1aC1kEOyrwvxMjgZUw3HHJyLuXA9KR4UXwxYu2i4uuohiiGGEg5ZMKhsTLlF1/jXI79f83K4ltF7bicn4FzaZdFg/eLBq79H87S2dzAJh22advk85ucKb3JiZw0VqYBXqXhgAweB6mBwkBbQFPBSMBAgR2AmYAVgZHBGoAlAiv4BcWmKA3a3nTzAAAAAElFTkSuQmCC');
}
.menuContainer--mainMenu > .menuItem:hover > .styledLinkContainer > a{
    color: #3f419f;
} */
/* .menuContainerNav .menuItem a:hover{
    color: #3f419f;
}
.menuContainer--mainMenu .menuItem:nth-last-child(-n+3) .submenuContainer > div{
    left: auto;
    right: 0;
} */