.label{
    text-transform:capitalize;
    color: #727273;
    padding:0;
    font-size:0;
}
.label::after{
    content: "Meus Pedidos";
    display: inline-block;
    vertical-align:middle;
    font-size:.8rem;
}
.container :global(.vtex-button__label){
    padding:0 !important;
    margin:0 0 0 5px;
}
.profile::before, .label::before, .buttonLink::before{
    content: "";
    display: inline-block;
    width: 16px;
    height: 20px;
    margin-right: 10px;
    font-size:.8rem;
    vertical-align: middle;
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAUCAMAAACzvE1FAAAATlBMVEUAAAA/QZ8/QZ8/QZ8/QZ8/QZ8/QZ8/QZ8/QZ8/QZ8/QZ8/QZ8/QZ8/QZ8/QZ8/QZ8/QZ8/QZ8/QZ8/QZ8/QZ8/QZ8/QZ8/QZ8/QZ8/QZ/CfzueAAAAGXRSTlMAtsWJMukH9uTy3tCCdmBdSykoHxKUk2djXS1jVQAAAHpJREFUGNN1kEkSxSAIBQE1aubpD9z/okkhaGWR3nX7NgjCTDHSDEaHLGCnwbHidJAt5DLxXPESthY2EJJ5gsJiYQFlKj5BZXeIbod3/IjDgKNXPZAVPOQ5cyXcozOYSTntsnZf/ww90DMQwC81TX/5j/VDIcZA3/W2C914ELMSdz6bAAAAAElFTkSuQmCC');
}
@media only screen and (max-width: 1023px) {
    .label{
        font-size: 0;
        display: block;
    }
    /*.buttonLink::before{
        margin: 0;
    }*/
    
} 
@media only screen and (max-width: 640px){
    .label::before{
        display: none;
    }
}
@media only screen and (min-width:1026px) and (max-width:1294px){
    .label::before{
        display: none;
    }
}