
.buyButton :global(.vtex-button){
    text-transform:capitalize;
}
.container{
    border:1px solid #ccc;
    margin: 0;
}
.productNameContainer{
    padding:0 .3em;
    text-align:left;
}
.brandName{
    font-weight:bold;
}
.element{
    padding-bottom:0;
    margin: 0;
}
.containerNormal{
    margin: 0 .5em;
}