.headerRow--menu-link :global(.vtex-menu-2-x-styledLink) {
  color: #ffffff;
  font-size: 14px;
}
.headerRow--main-header .headerRowBackground {
  background-color: #ffffff;
}
.headerRowContainer{
  justify-content: center;
}
.headerRow--main-header :global(.vtex-menu-2-x-styledLink)  {
  color: #727273;
  font-size: 14px;
}

.headerRow--main-header-mobile .headerRowBackground {
  padding: 10px 0px;
  background-color: #ffffff;
}
.headerStickyRow--main-header + .headerStickyRow--main-header .headerRowContentContainer--main-header{
  background: #f0f0f0;
}
