.container--deals {
  color: #5b5b5b;
  text-align: center;
  justify-content: center;
  text-transform:uppercase;
}

.container--shelfTitle,
.headingLevel2--description-title{
  color: #727273;
  justify-content: center;
  text-align: center;
}

.headingLevel2--shelfTitle,
.headingLevel2--description-title{
  font-weight: 600;
  font-size:2rem;
  text-transform:uppercase;
}
.headingLevel2--shelfTitle::after,
.headingLevel2--description-title::after{
  content:"";
  display:block;
  width:50px;
  height:5px;
  background:#0f3e99;
  margin:0 auto;
}
.headingLevel2--description-title{margin:0}
.wrapper--description-title{width:100%;}
.strong--deals{
  color: #5b5b5b;
  font-weight:normal;
}
.strong--deals:hover{
  color: #4447a2;
}
.paragraph{
  line-height:1;
}
.container--deals .paragraph {
  margin:6px;
  min-width:150px;
}
.container--notification-bar{
  display:block;
  text-align:center;
  background:#00bc93;
  width:175px;
  font-size:.8rem;
  margin:0 10px;
  border-radius:5px;
}
.paragraph--notification-bar{
  padding:10px;
  margin:0;
}
.container--link {
  justify-content: center;
}
.image--footer-img{
  float:left;
  margin: 10px 5px 0 0;
}
.strong--footer-img{
  margin:5px 0;
  display:inline-block;
}
.link--footer-img{
  color:#828282;
  text-decoration:none;
}
.container--question {
  justify-content: center;
}
.paragraph--footer-img {
  width: 280px;
}
.container--question .paragraph {
  text-align: center;
  max-width: 540px;
  margin: 0 16px;
  padding-top: 120px;
  color: #03034E;
}
.container--question .strong {
  font-size: 32px;
  line-height: 2rem;
  font-weight: 700;
}
.container--text-footer{
  border-top:1px solid #ccc;
}
.paragraph--text-footer{
  line-height:1.5;
}
.container--link .paragraph {
  text-align: center;
  max-width: 540px;
  padding-top: 36px;
  padding-bottom: 84px;
  color: #03034E;
}

.container--link .strong {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}

.container--link .link {
  text-decoration: none;
  font-size: 36px;
  font-weight: 300;
  color: #03034E;
}

.container--title {
  color: #03034E;
  font-size: 28px;
  font-weight: 700;
}

.container--footer-security{
  display: inline-block;
  max-width: 150px;
  vertical-align: middle;
  margin-right: 1rem;
}

.paragraph--bt-whatsapp{
  width: 42px;
  height: 42px;
  bottom: 1rem;
  left: 1rem;
  position: fixed;
  z-index: 99999;
}
.strong--notification-bar{
  color: #fff;
  text-decoration:none;
}

.container--institucional-title{
  justify-content: center;
}

.paragraph--institucional-text{
  text-align: center;
}

.wrapper--menu-title .heading-level-3{
  font-size:.9em;
  text-transform:uppercase;
  color:#00bc93;
  padding:.5em;
  margin:0;
}
.wrapper--menu-title .heading-level-3 .link--menu-title{
  font-size:1em;
  text-transform:uppercase;
  color:#00bc93;
  text-decoration:none;
  margin:0;
}
.container--search-text{
  padding:1rem 2rem;
}
.container--banner-ebit{
  display: none;
}

@media only screen and (min-width: 640px) {
  .container--question .strong {
    font-size: 40px;
    line-height: 3rem;
  }

  .container--about {
    max-width: 85%;
  }

  .container--title {
    color: #03034E;
    font-size: 40px;
    font-weight: 700;
    max-width: 60%;
  }

  .container--title .paragraph {
    line-height: 1.3em;
  }

  .paragraph--bt-whatsapp{
    width: 80px;
    height: 80px;
    bottom: 50px;
    left: 25px;
  }
}
@media only screen and (max-width: 1023px) {
  .paragraph--footer{
    text-align:center;
  }
  .wrapper--footer,
  .paragraph--footer-img,
  .wrapper--footer-img{
    width:100%;
  }
}
