.sliderLayoutContainer {
    justify-content: center;
  }
  
  .sliderTrackContainer {
    max-width: 1520px;
  }
  
  .paginationDotsContainer {
    margin-top: .5rem;
    margin-bottom: .5rem;
  }
  
  .layoutContainer--shelf {
    margin-top: 20px;
    margin-bottom: 20px;
    max-width: 96rem;
  }
  
  .slide {
    margin-bottom: 25px;
    padding:0;
  }
  